In [10]:
#Activty 11
#Dan Clayton

In [11]:
#Import some libraries
import pandas as pd
import sqlite3 as sq

In [15]:
#1) Connect to pets DB and check that connection is good
conn = sq.connect("petsdb")

with conn:
    cursor = conn.cursor()
    #print(cursor)
    if str(cursor) == '':
        print('Connection problem')
    else:
        print('Connection is good')

Connection is good

In [89]:
#Show all of the column names--we will need to know these later
sql = 'SELECT distinct * from persons;'
rows = cursor.execute(sql)

#Print the column names for later use
print('People:\n')
for row in rows.description:
    print(row[0])

sql = 'SELECT distinct * from pets;'
rows = cursor.execute(sql)

#Print the column names for later use
print('Pets:\n')
for row in rows.description:
    print(row[0])

People:

id
first_name
last_name
age
city
zip_code
Pets:

owner_id
pet_name
pet_type
treatment_done

In [167]:
#2) Find the different age groups in the persons database

sql = 'SELECT distinct age, count(*) FROM persons GROUP BY age order by 1;'
rows = cursor.execute(sql)

#Print the ages and their respective counts, ordered from lowest to highest occurance
for row in rows:
    print('Age:', row[0],'Count:', row[1])

Age: 5 Count: 2
Age: 6 Count: 1
Age: 7 Count: 1
Age: 8 Count: 3
Age: 9 Count: 1
Age: 11 Count: 2
Age: 12 Count: 3
Age: 13 Count: 1
Age: 14 Count: 4
Age: 16 Count: 2
Age: 17 Count: 2
Age: 18 Count: 3
Age: 19 Count: 1
Age: 22 Count: 3
Age: 23 Count: 2
Age: 24 Count: 3
Age: 25 Count: 2
Age: 27 Count: 1
Age: 30 Count: 1
Age: 31 Count: 3
Age: 32 Count: 1
Age: 33 Count: 1
Age: 34 Count: 2
Age: 35 Count: 3
Age: 36 Count: 3
Age: 37 Count: 1
Age: 39 Count: 2
Age: 40 Count: 1
Age: 42 Count: 1
Age: 44 Count: 2
Age: 48 Count: 2
Age: 49 Count: 1
Age: 50 Count: 1
Age: 51 Count: 2
Age: 52 Count: 2
Age: 53 Count: 2
Age: 54 Count: 2
Age: 58 Count: 1
Age: 59 Count: 1
Age: 60 Count: 1
Age: 61 Count: 1
Age: 62 Count: 2
Age: 63 Count: 1
Age: 65 Count: 2
Age: 66 Count: 2
Age: 67 Count: 1
Age: 68 Count: 3
Age: 69 Count: 1
Age: 70 Count: 1
Age: 71 Count: 4
Age: 72 Count: 1
Age: 73 Count: 5
Age: 74 Count: 3

In [68]:
#3) Find the age group that has the maximum number of people
sql = 'SELECT distinct age, count(*) FROM persons GROUP BY age order by 2;'
rows = cursor.execute(sql)

#Print the last of the sorted ages along with its count--this is the largest count (thus maximum number of people)
print("Age: Count\n")
print(row[-2], ":", row[-1])

Age: Count

73 : 5

In [133]:
#4) Find the people who do not have a last name

sql = "select count(*) from (SELECT first_name FROM persons where last_name is null)"
#sql = "SELECT first_name, last_name FROM persons;"
rows = cursor.execute(sql)

#Print the first names of the people with no last names
for row in rows:
    print('People with no last name: ', str(row).split(',')[0][1:])

People with no last name:  60

In [132]:
#5) Find out how many people have more than one pet

#sql = 'select count(*) from (SELECT distinct owner_id FROM pets group by owner_id having count(*));'
sql = "SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)"

rows = cursor.execute(sql)

#Print the result
for row in rows:
    #print(row)
    print('People with multiple pets: ', str(row).split(',')[0][1:])

People with multiple pets:  43

In [140]:
#6) Find out how many pets have received treatment
sql = "select count(*) from (select treatment_done from pets where treatment_done > 0)"

rows = cursor.execute(sql)

#Print the result
for row in rows:
    #print(row)
    print('Pets that received treatments: ', str(row).split(',')[0][1:])

Pets that received treatments:  36

In [144]:
#7) Find out how many pets have received treatment and the type of pet is known

sql = "select count(*) from (select treatment_done from pets where treatment_done > 0 and pet_type not null)"

rows = cursor.execute(sql)

#Print the result
for row in rows:
    #print(row)
    print('Pets with known type that received treatments: ', str(row).split(',')[0][1:])

Pets with known type that received treatments:  16

In [161]:
#8) Find how many pets are from the city called "East Port"
sql = "select count(*) from (select pets.owner_id, pets.pet_name, persons.city from pets JOIN persons ON pets.owner_id = persons.id where persons.city = 'east port')"

rows = cursor.execute(sql)

#Print the result
for row in rows:
    #print(row)
    print('Pets from east port: ', str(row).split(',')[0][1:])

Pets from east port:  49

In [163]:
#9) Find out how many pets are from the city called "East Port" and who received a treatment
sql = "select count(*) from (select pets.owner_id, pets.pet_name, persons.city from pets JOIN persons ON pets.owner_id = persons.id where persons.city = 'east port' and pets.treatment_done > 0)"
#FROM pets JOIN persons ON pets.owner_id = persons.id

rows = cursor.execute(sql)

#Print the result
for row in rows:
    #print(row)
    print('Pets with treatements from east port: ', str(row).split(',')[0][1:])

Pets with treatements from east port:  11